
:root {
  --fsp-lightpink: #ffd8d6;
  --fsp-pink: #ffa3ae;
  --fsp-lightblue: #92a7c8;
  --fsp-blue: #2d3c4f;
  --fsp-orange: #f76226;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;900&display=swap');

body {
  background-color: var(--fsp-blue);
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 400;
}

.navbar {
  background-color: var(--fsp-lightblue);
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  $headings-line-height:        1.2;
}

.navbar-nav {
  padding-right: 5%;
}

.hero {
  background-color: var(--fsp-lightblue);
  margin-top: 5%;
}

.hero-image {
  height: 50%;
  width: 100%;
  background-position: center;     
  background-repeat: no-repeat;     
  background-size: cover;
  opacity: 50%;
  background-image: url(/img/hero.png);
}

.hero-title {
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 900;
  font-size: 10vw;
  opacity: 100%;
}

.hero-subtitle {
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 6vw;
  opacity: 100%;
}

